.dropdown {
  position: relative;
  width: max-content;
  .dropdown-label {
    padding: $p-1 - 0.5 0;
    user-select: none;
    cursor: pointer;
  }
  .dropdown-list {
    min-width: max-content;
    width: $w-10 * 1.5;
    background: $bg-white;
    border-radius: $rounded;
    box-shadow: 0 0 5px $bg-black-rgba-xs;
    overflow: hidden;
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    top: 100%;
    opacity: 0;
    z-index: 5;
    transition: opacity $transition-time-xs $transition-fn, transform $transition-time-xs $transition-fn;
    .list-item {
      padding: $p-1 - 0.5 $p-1;
      opacity: 0.6;
      cursor: pointer;
      transition: opacity $transition-time-sm $transition-fn,
        background-color $transition-time-sm $transition-fn;
      &:hover {
        background: $bg-blue-rgba-xs;
      }
    }
    .list-item-selected {
      opacity: 1;
    }
  }
  .dropdown-list-active {
    opacity: 1;
    transform: scaleY(1);
    animation: dropdown $transition-time-xs $transition-fn;
  }
}

// Placement
.dropdown-left {
  .dropdown-list {
    left: 0;
  }
}

.dropdown-right {
  .dropdown-list {
    right: 0;
  }
}

// Theme
.dropdown-white {
  .dropdown-list {
    background: $bg-white;
  }
}

.dropdown-dark {
  .dropdown-list {
    background: $bg-dark;
    box-shadow: 0 0 10px $bg-black;
  }
}
